*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.container{
    margin: 0 auto;
}
header{
    background-color: rgb(59, 59, 59);
    width: 1536px;
}
ul li{
    display: inline-block;
    padding: 30px;
}
a{
    text-decoration: none;
    color: #ffffffcc;
}
.learn_more{
    color: blue;
}
.Accessibility{
    font-size: 50px;
    padding-left: 630px;
    display: block;
    padding-top: 50px;
    color: white;
}
h1{
    text-align: center;
    padding-top: 50px;
    font-size: 80px;
    color: white;
}
.info{
    background-color:black;
    height: 620px;
}
.paragrap_style{
    color: white;
    padding-left: 500px;
    font-size: 40px;
    padding-top: 20px;
}
.learn_more{
    display: block;
    padding-top: 30px;
    font-size: 25px;
    padding-left: 700px;
}
.that{
    background-color: white;
    color: black;
}
.learn_more:hover{
    text-decoration: underline;
}
.iPhone_14_pro{
    text-align: center;
    font-size: 50px;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}
.Beyond{
    display: block;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}
.Buy{
    font-size: 25px;
    padding-left: 700px;
    color: blue;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}
.Buy:hover{
    text-decoration: underline;
}
.learn_more2{
    display: inline-block;
    padding-top: 30px;
    font-size: 25px;
    padding-left: 700px;
    color: blue;
    font-family: 'Open Sans', sans-serif;
}
.learn_more2:hover{
    text-decoration: underline;
}
.second_section{
    background-image: url(bacground_img.jpg);
    background-size: cover;
    height: 400px;
    margin-top: 10px;
}
.iphone_14{
    text-align: center;
    font-size: 50px;
    position: relative;
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
}
.wonderfull{
    font-size: 30px;
    padding-left: 700px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.bacground_img2{
    width: 1534px;
    height: 600px;
    position: absolute;
}
.learn_more3{
    position: relative;
    color: blue;
    font-size: 25px;
    
    padding-left: 670px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
}
.Buy3{
    position: relative;
    color: blue;
    font-size: 25px;
    padding-left: 820px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
}
.Buy3:hover{
    text-decoration: underline;
}
.learn_more3:hover{
    text-decoration: underline;
}
.tradein_img{
    height: 520px;
    width: 750px;
    margin-top: 422px;
    position: absolute;
}
.apple_icon2{
    position: relative;
    color: black;
    padding-top: 450px;
    padding-left: 300px;    
}
.tradein_span{
    position: relative;
    font-size: 40px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
}
.Upgrade{
    position: relative;
    font-size: 20px;
    padding-left: 270px;
    font-family: 'Open Sans', sans-serif;
}
.device_is_worth{
    position: relative;
    color: blue;
    display: block;
    padding-top: 10px;
    padding-left: 280px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.device_is_worth:hover{
    text-decoration: underline;
}
.wrapper{
    display:flex
}
.bird_pictures{
    width: 750px;
    height: 520px;
    margin-top: 420px;
    margin-left: 220px;
    vertical-align: middle;
    position: absolute;
}
.WWDC23{
    color: white;
    font-size: 40px;
    position: relative;
    padding-top: 700px;
    padding-left:500px;
    font-family: 'Open Sans', sans-serif;
}
.Apple_Developers{
    color: white;
    position: relative;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 430px;
    font-family: 'Open Sans', sans-serif;
}
.join_online{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    position: relative;
    color: white;
    padding-left: 500px;
}
.picture_6{
    padding-top: 100px;
    width: 1300px;
    height: 800px;
    margin-left: 80px;
    border-radius: 20px;
    position: absolute;
}
.Guided_Tour{
    position: relative;
    padding-top: 360px;
    padding-left: 280px;
    font-size:21px;
    color: white;
    font-family: 'Open Sans', sans-serif;

}
.iphone14_iphone14pro{
    font-size: 35px;
    position: relative;
    padding-left: 280px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.film_button{
    position: relative;
    font-size: 15px;
    margin-left: 280px;
    border-radius: 20px;
    width: 130px;
    height: 35px;
    margin-top: 10px;

}
.film_button:hover{
    background-color: #fff;
}

.question{
    padding-top: 350px;
    text-align: center;
    font-size: 40px;
    font-family:  'Geologica', sans-serif;
}
.iphone_14_pro{
    padding-top: 50px;
    margin-left: 370px;
}
.iphone_14_pro_colors{
    display: block;
    padding-left: 400px;
    padding-top: 10px;
}
.new{
    padding-left: 430px;
    color: red;
    padding-top: 10px;
}
.iphone_14_pro_text{
    padding-left: 370px;
    font-size: 25px;
    font-family:  'Geologica', sans-serif;
}
.ultimate_iphone{
    padding-left: 380px;
    font-size: 17px;
    padding-top: 10px;
}
.From_999{
    padding-left: 415px;
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.buy2{
    margin-left: 425px;
    margin-top: 15px;
    border-radius: 20px;
    width: 45px;
    height: 20px;
    background-color: #06c;
    color: white;
    border-color: #06c;
}
.learn_more4{
    padding-top: 15px;
    padding-left: 415px;
    color: #06c;
}
.learn_more4:hover{
    text-decoration: underline;
}
.iphones{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.iphone_14{
    padding-left: 70px;
    max-width: 210px;
}
.iphone_14_colors2{
    display: block;
    padding-left: 90px;
    padding-top: 20px;
}
.new2{
    padding-left: 120px;
    color: red;
    padding-top: 10px;
}
.iphone_14_text{
    font-size: 25px;
    font-family:  'Geologica', sans-serif;
    padding-left: 90px;
    padding-top: 5px;
}
.powerhouse{
    font-size: 17px;
    padding-left: 80px;
    padding-top: 15px;
}
.From_799{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 30px;
    padding-left: 110px;
}
.Buy5{
    width: 45px;
    height: 20px;
    background-color: #06c;
    color: white;
    border-color: #06c;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: 20px;
}
.learn_more9{
    color: #06c;
    padding-left: 110px;
    padding-top: 10px;
}
